doctype 5

html(lang="en")
  include head
  body
    div.container.text-center.notFound
      img.img-circle(src="img/logoTorro140.png" style="border: 1px;")
      h1 Error 404!
      p Stop the excavation ! you already dug too deep!
      p This ressource was not found on this server.
