footer.navbar-inverse
    div.container#footer
            div.row
              div.cont
                div.col-md-4.col-sm-4.foot
                  ul.menu-foot
                    li.head-foot Community
                    li: a(href="http://github.com/archeos/ArcheOS") Github
                    li: a(href="http://webchat.freenode.net?channels=%23archeos&uio=d4") IRC
                    li: a(href="http://www.facebook.com/pages/ArcheOS/258977573543") Facebook
                    li: a(href="http://fr.linkedin.com/groups/ArcheOS-3776770") LinkedIn
                div.col-md-4.col-sm-4.foot
                  ul.menu-foot
                    li.head-foot Download & Install
                    li: a(href="http://doc.archeos.eu/") Developement version
                    li: a(href="#") Stable version
                    li: a(href="#") Installation
                div.col-md-4.col-sm-4.foot
                  ul.menu-foot
                    li.head-foot Documentation
                    li: a(href="http://doc.archeos.eu/") User documentation
                    li: a(href="http://doc.archeos.eu/development/development-index.html") Developer documentation
            div.row
              ul.menu-foot
                li <small>Website &copy; ArcheOS</small>
                li <small>Copyright of images belong to their <a>respective owners</a></small>
script(src="bower_components/jquery/dist/jquery.js")
script(src="bower_components/jquery/dist/jquery.js")
script(src="bower_components/bootstrap/js/dropdown.js")
script(src="bower_components/bootstrap/js/scrollspy.js")
script(src="bower_components/bootstrap/js/collapse.js")
