footer
    div.container#footer
            div.row
              div.cont
                div.col-md-4.col-sm-4.foot
                  ul.menu-foot
                    li.torro-color Community
                    hr.dotted
                    a(href="#"): li Github
                    a(href="#"): li IRC
                    a(href="#"): li Facebook
                    a(href="#"): li LinkedIn
                div.col-md-4.col-sm-4.foot
                  ul.menu-foot
                    li.torro-color Download & Install
                    hr.dotted
                    a(href="#"): li Developement version
                    a(href="#"): li Stable version
                    a(href="#"): li Installation
                div.col-md-4.col-sm-4.foot
                  ul.menu-foot
                    li.torro-color Documentation
                    hr.dotted
                    a(href="#"): li User documentation
                    a(href="#"): li Developer documentation
            div.row
              ul.menu-foot
                li <small>Website &copy ArcheOS</small>
                li <small>Copyright of images belong to their <a>respective owners</a></small>
script(src="bower_components/jquery/jquery.js")
script(src="bower_components/bootstrap/js/dropdown.js")
script(src="bower_components/bootstrap/js/scrollspy.js")
script(src="bower_components/bootstrap/js/collapse.js")
