head
  meta(charset=utf8)
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(name="description" content="Archeos website")
  meta(name="author" content="The ArcheOS Community")
  title= title
  link(rel="icon" type="image/ico" href="img/favicon.ico")
  link(href="http://fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css")
  link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href="css/style.min.css" )
