doctype 5
html(lang="en")
    include head
    body
        include nav
        div.container#couv
          div.jumbotron
              h1 Welcome
              p.
               ArcheOS is the acronym of Archeological Operating System.
               It is a GNU/Linux live distribution built for archaeological aims.
              p.
                It is possible to boot and run ArcheOS from an USB drive or from a DVD
                but you could also install ArcheOS on your hard disk.
                ArcheOS is developed following the OpArc project guidelines and
                it is released by <a href="http://www.arc-team.com/">Arc-Team s.n.c.</a> under the
                General Public License (GPL).
              p.
                Actually a new version (5.0) based on Debian “Wheezy” is under development.
              p.text-right
                button.btn.btn-primary Download ArcheOS 5.0 Alpha
            div.row.miniature
                div.col-md-4.col-sm-4.text-center
                    img.img-circle.img-responsive.center-block(alt="Logo Debian" src="img/logoDeb140.png")
                    h2 Stable
                    p.
                      ArcheOS is build on top of Debian, the "universal operating system".
                      It's the the most stable GNU/Linux distribution and
                      Debian is widely used in IT on servers and workstations.
                    p: a.btn(href="#") Learn more about Debian &raquo;
                div.col-md-4.col-sm-4.text-center
                    img.img-circle.img-responsive.center-block(alt="logo ArcheOS Torro" src="img/logoTorro140.png")
                    h2 All included
                    p.
                      ArcheOS is shipped with a very large set of free software from Debian.
                      But it also provides additional software to meet the requierement of the
                      archeaological community.
                    p: a.btn(href="#") Read documentation &raquo;
                div.col-md-4.col-sm-4.text-center
                    img.img-circle.img-responsive.center-block(alt="logo OSI" src="img/logoOSI140.png")
                    h2 Open
                    p.
                      ArcheOS is free as in "free beer" and free as in "free speech" as close as possible.
                      All tools it ships are "Open Source" and peoples behind this project
                      are volunteers from all over the world.
                    p: a.btn(href="#") Join the community &raquo;
        include footer
