doctype 5

html(lang="en")
  include head
  body
      include nav
      div.containe
        h1 Latest News
        ul
          for n in news
            li
              ul
                li= n.message
                li= Date(n.created_time).toString()
                hr
      include footer
