doctype 5

html(lang="en")
  include head
  body
      include nav
      div.container
        h1 Latest News
        ul
          for n in news
            li
              ul
                //TODO + img 'origin'
                li= Date(n.created_time).toString()
                li= n.message
                if n.link
                    p See more 
                      a(href= n.link) here 
                hr
      include footer
