/* Import bootstrap variables */
/* Vars */
/* Orange from "Torro" logo */
/* not really useful to set it as a variable for now. but who knows...*/
/* Rules */
* {
  /* Lato is provided by google fonts for now. Fallback to any SS font */

  /* Lato is under SIL Open Font License, 1.1 which is DSFG Compatible */

  font-family: "Lato", sans-serif;
}
body {
  font-weight: 350;
  background-color: #F0F0F0;
}
a.foot {
  text-decoration: none;
}
.jumbotron {
  background: url("../img/ciceroRecons.png") no-repeat;
  color: white;
}
ul.menu-foot {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#cont {
  text-align: justify;
}
#couv {
  padding: 75px 0 0 0;
}
#torro-logo {
  float: left;
}
.torro-color {
  color: #fea000;
}
.notFound {
  margin-top: 10px;
}
footer {
  text-align: center;
  margin-top: 10px;
  padding: 20px 20px 20px 20px;
  color: #9d9d9d;
  background-color: #222222;
}
hr.dotted {
  border-style: dotted;
  margin: 0.5em;
}
