@charset: 'UTF-8';

/* Import bootstrap variables */
@import '../bower_components/bootstrap/less/variables.less';

/* Vars */

/* Orange from "Torro" logo */
/* not really useful to set it as a variable for now. but who knows...*/
@color-orange-torro: #FEA000;

/* rules */

*{
  /* Lato is provided by google fonts for now. Fallback to any SS font */
  font-family: "Lato", sans-serif;
}

body {
  font-weight: 350;
  background-color: #F0F0F0;
}

a.foot {
  text-decoration: none;
}

.jumbotron {
  background: url("../img/ciceroRecons.png") no-repeat;
  color: white;
}

ul.menu-foot{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#cont {
  text-align: justify;
}

#couv{
  padding: 75px 0 0 0;
}

.torro-color {
  color: @color-orange-torro;
}

footer{
  text-align: center;
  margin-top: 10px;
  padding: 20px 20px 20px 20px;
  color: @navbar-inverse-color;
  background-color: @navbar-inverse-bg;
}

hr.dotted {
  border-style: dotted;
  margin: 0.5em;
}
